name: check-links
on: [push, pull_request]

jobs:
  build:
    name: Check links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: cachix/install-nix-action@v12
      - run: nix-shell --run "make build-pages"
        env:
          NIX_PATH: nixpkgs=https://github.com/NixOS/nixpkgs/archive/20.09.tar.gz
      - run: nix-shell --run "sh bin/check-links.sh"
        env:
          NIX_PATH: nixpkgs=https://github.com/NixOS/nixpkgs/archive/20.09.tar.gz
